@mixin floating {
    border-radius: 1em;
    box-shadow: 1em 2em #888888;
    border: 0.2em solid black;
}

@mixin grid($linee) {
    display: grid;
    grid-template-columns: repeat($linee, 1fr);
}

@mixin button {
    border: 0;
    color: map-get($colore, text-bianco);
}

.griglia {
    @include grid(3);
}